In [1]:
import mysql.connector as connector

connection=connector.connect(user="root",password="root")

In [2]:
cursor = connection.cursor()

In [ ]:
cursor.execute("CREATE DATABASE little_lemon_db")

In [4]:
cursor.execute("USE little_lemon_db")

In [5]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [6]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [7]:
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [8]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [16]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100),
Role VARCHAR(100),
Address VARCHAR(100),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100)
);"""

In [17]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [18]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [ ]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [23]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":"root"}

In [ ]:
#Step 1
from mysql.connector.pooling import MySQLConnectionPool
#Step 2
from mysql.connector import Error

try:
    #Step 3 - create a pool of connections
    conn_pool_a = MySQLConnectionPool(pool_name = "pool_a", pool_size=2, **dbconfig)
    print("pool of connections created")
    #Step 4 - get a connection from the pool and crate a cursor
    connection = conn_pool_a.get_connection()
    print("connection from the pool assigned")
    cursor = connection.cursor()
    print("cursor opened.")
except Error as err:
    print("ERROR:",err.errno, ":", err.msg)

In [ ]:
#Step 1 - Write a CREATE PROCEDURE query
create_proc_PeakHours = \
"""
CREATE PROCEDURE PeakHours()
SELECT HOUR(BookingSlot) as Hour, COUNT(*) AS BookingsQty
FROM Bookings
GROUP BY Hour
ORDER BY BookingsQty DESC;
"""
#Step 2 - Execute the CREATE PROCEDURE query
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
cursor.execute(create_proc_PeakHours)
print("procedure PeakHours created")

In [ ]:
#Step 3 - Call the stored procedure
cursor.reset()
cursor.callproc("PeakHours")

#Step 4 - Fetch the reusults after calling the procedure
result = next(cursor.stored_results())
dataset = result.fetchall()

#Step 5-6 - Extract and print names of the columns (headers)
h0, h1 = result.column_names
print(f"{h0:<6}{h1}")
print("-" * len(h0) + " " * (6-len(h0)) + "-" * len(h1))

#Step 7 - Print data records
for c0, c1 in dataset:
    print(f"{c0:<6}{c1}")

In [ ]:
#Step 1-4 - Write a CREATE PROCEDURE query
create_proc_GuestStatus = \
"""
CREATE PROCEDURE GuestStatus()
SELECT
CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestFullName,
CASE
    WHEN e.Role in ('Manager','Assistant Manager') THEN 'Ready to pay'
    WHEN e.Role in ('Head Chef') THEN 'Ready to serve'
    WHEN e.Role in ('Assistant Chef') THEN 'Preparing Order'
    WHEN e.Role in ('Head Waiter') THEN 'Order served'
    ELSE 'Unknown'
END AS OrderStatus
FROM Bookings AS b
LEFT JOIN Employees AS e ON b.EmployeeID = e.EmployeeID
;
"""
#Step 5 - Execute the CREATE PROCEDURE query 
cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus;")
cursor.execute(create_proc_GuestStatus)
print("procedure GuestStatus created.")

In [ ]:
#Step 6 - Call the stored procedure
cursor.reset()
cursor.callproc("GuestStatus")

#Step 7 - Fetch the reusults after calling the procedure
result = next(cursor.stored_results())
dataset = result.fetchall()

#Step 8-9 - Extract and print names of the columns (headers)
h0, h1 = result.column_names
print(f"{h0:<20}{h1}")
print("-" * len(h0) + " " * (20-len(h0)) + "-" * len(h1))

#Step 10 - Print data records
for c0, c1 in dataset:
    print(f"{c0:<20}{c1}")

In [ ]:
# Function sorted sorts comparing values in the first colum (FullName) by default
for c0, c1 in sorted(dataset):
    print(f"{c0:<20}{c1}")

In [ ]:
# Function sorted sorts comparing values in the 2nd column by specifying the key attribute as a simple lambda function.
for c0, c1 in sorted(dataset, key = lambda r: r[1]):
    print(f"{c0:<20}{c1}")

In [ ]:
# Function sorted sorts comparing values in the 2nd column by specifying the key attribute as a simple lambda function.
# The lambda function uses OrderStatusSort dictionary to return a numeric value assigned to each status

OrderStatusSort = {
    "Preparing Order": 1,
    "Ready to serve": 2,
    "Order served": 3,
    "Ready to pay": 4,
    "Unknown": 5
}
for c0, c1 in sorted(dataset, key = lambda r: OrderStatusSort[r[1]]):
    print(f"{c0:<20}{c1}")

In [ ]:
#Step 11 - Close connection
try:
    print("Returning the connection to the pool ... ", end="")
    connection: connection.close()
    print("closed (returned).")
except Error as err:
    print("can't be returned")
    print(err.errno, err.msg)

In [ ]:
# The dictionary connections is a container for 3 connections for 3 guests 
# a connection for the Guest 1 will be stored in connections[1]
# a connection for the Guest 2 will be stored in connections[2]
# a connection for the Guest 3 will be stored in connections[3]
connections = {
    1: None,
    2: None,
    3: None
}

In [25]:
# The index of the new_bookings dict (int: 1,2,3) is a guest number and corresponds to the database connection

new_bookings = {
    1: {
        "TableNumber" : 8,
        "FirstName" : "Anees",
        "LastName" : "Java",
        "BookingTime" : "18:00",
        "EmployeeID" : 6 
    },
    2: {
        "TableNumber" : 5,
        "FirstName" : "Bald",
        "LastName" : "Vin",
        "BookingTime" : "19:00",
        "EmployeeID" : 6 
    },
    3: {
        "TableNumber" : 12,
        "FirstName" : "Jay",
        "LastName" : "Kon",
        "BookingTime" : "19:30",
        "EmployeeID" : 6
    }
}

In [ ]:
def get_connection_from_pool(conn_pool):
    """
    Get a connection for a guest from the given conn_pool.

    Parameters:
        conn_pool : MySQLConnectionPool
            a pool of connections where a connection for a guest should be taken from
    
    Returns:
        PooledMySQLConnections : if a connection was assigned to a guest
        None : if a connection could not be assigned
    """
    connection = None
    try:
        print("Getting a connection to the db from the pool ...")
        connection = conn_pool.get_connection()
    except Error as err:
        print("Could not get a connection from the pool!")
        print(err.errno, err.msg)
        try:
            print("The connection will be added manually using add_connection() ...")
            conn_pool.add_connection()
            connection = conn_pool.get_connection()
        except Error as err:
            print("New connection could not be added!")
            print(err.errno, err.msg)

    if isinstance(connection, PooledMySQLConnection):
        print("Successful connection to the database.")
    return connection

In [ ]:
def insert_booking(connection, new_booking):
    """
    Prepare and execute SQL INSERT query for a given new booking.
    
    Parameters:
        connection : PooledMySQLConnection
            to be used to execute the insert query
        new_booking : dict
            a dictionary with keys: TableNumber, FirstName, LastName, BookingTime, EmployeeID
            and corresponding values for a new booking
    """

    # prepare the insert query
    insert_query = \
    "INSERT INTO Bookings(TableNo, GuestFirstName, GuestLastname, BookingSlot, EmployeeID) VALUES " \
    "({}, \"{}\", \"{}\", \"{}\", {});".format(
    new_booking["TableNumber"],
    new_booking["FirstName"],
    new_booking["LastName"],
    new_booking["BookingTime"],
    new_booking["EmployeeID"]
    )

    GuestFullName = new_booking["FirstName"] + " " + new_booking["LastName"]
    print(f"Insert query : new booking for {GuestFullName}")
    print(insert_query)

    # execute the insert query
    try:
        if connection:  #the connection can be None is something went wrong
            cursor = connection.cursor()
            cursor.execute(insert_query)
            connection.commit()
            print(f"Added a new booking record for {GuestFullName}")
        else:
            print("No working connection!")
            print(f"Can't execute a booking query for {GuestFullName}")
    except Error as err:
        print(f"Problem with inserting a new booking record for for {GuestFullName}")
        print(err.errno, err.msg)
    except BaseException as err:
        print(f"Unexpected problem with inserting a new booking record for for {GuestFullName}")
        print(err)

In [ ]:
# New bookings will be added in a loop using the new_bookings dict defined earlier
# The keys of the new_bookings dict are 1,2,3

for guest_num in new_bookings:
    print(f"Adding a new booking record for a guest {guest_num} ...")
    # Get a database connection for a guest from the pool_b
    connections[guest_num] = get_connection_from_pool(conn_pool_b)    
    # insert to the database a new booking record
    insert_booking(connections[guest_num], new_bookings[guest_num])
    # print an empty separator line
    print()

In [ ]:
# Every connection stored in the connections container will be closed

print("Returning (closing) connections for Guests ...")
for guest_num, connection in connections.items():
    try:
        print(f"connection for a guest {guest_num} ... ", end="")
        if connection: connection.close()
        print("closed (returned).")
    except Error as err:
        print(f"can't be returned")
        print(err.errno, err.msg)

In [ ]:
connection = get_connection_from_pool(conn_pool_b)

In [ ]:
cursor = connection.cursor()

print("The report from Task 3:")
print("=======================")
print()

# Part 1
# The name and EmployeeID of the Little Lemon manager.
query = "SELECT EmployeeID, Name FROM Employees WHERE Role = 'Manager';"
cursor.execute(query)
result = cursor.fetchall()
print("The manager of the restaurant:   ", end="")
for record in result: print(f"{record[1]}   EmployeeID: {record[0]}")

# Part 2
# The name and role of the employee who receives the highest salary.
query = "SELECT Name, Role FROM Employees ORDER BY Annual_Salary DESC LIMIT 1;"
cursor.execute(query)
result = cursor.fetchall()
print("\nThe employee with the highest salary:   ", end="")
for record in result: print(f"{record[0]}   Role: {record[1]}")

# Part 3
# The number of guests booked between 18:00 and 20:00.
query = "SELECT COUNT(*) from Bookings WHERE HOUR(BookingSlot) BETWEEN 18 AND 20;"
cursor.execute(query)
result = cursor.fetchall()
print("\nNumber of bookings between 18:00 and 20:00:   ", end="")
for record in result: print(f"{record[0]}")

# Part 4
# The full name and BookingID of all guests waiting to be seated
# with the receptionist in sorted order with respect to their 
query = \
"""
SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestFullName, BookingID
FROM Bookings
WHERE EmployeeID = (SELECT EmployeeID from Employees where Role = 'Receptionist')
ORDER BY BookingSlot ASC;
"""
cursor.execute(query)
waiting_guests = cursor.fetchall()
print("\nGuests waiting to be seated:")
header0, header1 = cursor.column_names
print(f"{header0:<30}{header1}")
print("-" * len(header0) + " " * (30-len(header0)) + "-" * len(header1))
for guest in waiting_guests:
    guest_full_name, booking_id = guest
    print(f"{guest_full_name:<30}{booking_id}")

In [ ]:
try:
    print("Returning the connection to the pool ... ", end="")
    connection.close()
    print("closed (returned).")
except Error as err:
    print("can't be returned")
    print(err.errno, err.msg)

In [ ]:
connection = get_connection_from_pool(conn_pool_b)
cursor = connection.cursor()

In [ ]:
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

create_proc_BasicSalesReport = \
"""
CREATE PROCEDURE BasicSalesReport()
SELECT
SUM(BillAmount) AS TotalSale,
AVG(BillAmount) AS AvgSale,
MIN(BillAmount) AS MinBillPaid,
MAX(BillAmount) AS MaxBillPaid
from Orders;
"""
cursor.execute(create_proc_BasicSalesReport)
print("procedure BasicSalesReport created.")

In [ ]:
cursor.reset()
cursor.callproc("BasicSalesReport")
result = next(cursor.stored_results())
total_sale, avg_sale, min_bill, max_bill = result.fetchone()
print("BasicSalesReport:")
print(f"{'Total sale:':<20}{total_sale:6.2f}")
print(f"{'Average sale:':<20}{avg_sale:6.2f}")
print(f"{'Min bill paid:':<20}{min_bill:6.2f}")
print(f"{'max bill paid:':<20}{max_bill:6.2f}")

In [ ]:
try:
    print("Returning the connection to the pool ... ", end="")
    connection.close()
    print("closed (returned).")
except Error as err:
    print("can't be returned")
    print(err.errno, err.msg)

In [ ]:
connection =  get_connection_from_pool(conn_pool_b)
cursor = connection.cursor(buffered=True)

In [ ]:
cursor.reset()
query = \
"""
SELECT BookingSlot, CONCAT(GuestFirstName, ' ', GuestLastName) as GuestName, e.Name AS EmpName, e.Role as EmpRole
FROM Bookings as b
JOIN Employees as e on b.EmployeeID = e.EmployeeID
ORDER BY BookingSlot ASC
LIMIT 3
"""
cursor.execute(query)
for record in cursor:
    print(record[0])
    print(record[1])
    print("Assigned to:", record[2], record[3])
    print()

In [ ]:
try:
    print("Returning the connection to the pool ... ", end="")
    connection.close()
    print("closed (returned).")
except Error as err:
    print("can't be returned")
    print(err.errno, err.msg)